body{
    font-family: 'Open Sans', sans-serif;
    padding: 20px 60px;
    font-weight: lighter;
    background-attachment: fixed; 
    background-image:   linear-gradient(200deg, #EADEDB 0%, #7092bcb5 50%, #9541d635 75%)
  }   

a{
    text-decoration: none;
    color: black;
}

 * {
    box-sizing: border-box;
 }

 :root {
    --font-size: calc(.6em + 1vw);
  }
  
  button {
    font-size: var(--font-size);
  }